﻿@import "../../lib/bootstrap/scss/bootstrap";
@import "custom-variables";
@import "../../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
$fa-font-path: "/lib/@fortawesome/fontawesome-free/webfonts"; //override default fontawesome path.
@import "../../lib/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../lib/@fortawesome/fontawesome-free/scss/brands"; // free
@import "../../lib/@fortawesome/fontawesome-free/scss/solid"; // free
@import "../../lib/bootstrap-spinedit/css/bootstrap-spinedit.css";
@import "../../lib/alertify/themes/alertify.core.css";
@import "../../lib/alertify-bootstrap-3/alertify.bootstrap3.css";
@import "../../lib/bootstrap-toggle/css/bootstrap-toggle.min.css";
@import "../../lib/gridster-js/dist/jquery.gridster.min.css";
@import "../../lib/chosen/chosen.css";
@import "../../lib/bootstrap-select/sass/bootstrap-select";
@import "../../lib/bootstrap-select/sass/variables";
@import "warning";
@import "typeaheadjs";
@import "print";
@import "gridster";

.page-tip { background: #fefbe1; margin: 30px 0; padding: 30px; display: block; box-shadow: #111 0px 0px 15px -4px; }

body {
    a { color: #03b5ae;
        &:hover { color: #d4215c }
    }
}

.nav-link { color: #d6d5d5; }

.restart-temp-database { position: fixed; bottom: 50%; left: -63px; transform: rotate(90deg); padding: 4px 6px; background: #003b5c; color: #fff; font-size: 13px; font-family: Arial; opacity: 0.4; }

html { position: relative; min-height: 100%; }

a.disabled { pointer-events: none; cursor: default; }

.field-validation-error { color: red; }

.navbar-static-top { z-index: auto; }

.radio-list .radio input[type="radio"], .checkbox-list .checkbox input[type="checkbox"] { margin-left: 0; }

*[data-sort-item] { cursor: move; }

.modal-content { width: 600px;
    .modal-header .close { margin-top: -10px; }
}

.empty-list { padding: 15px 0; }

.buttons-row { text-align: right;

    &.top-buttons-row { float: right; }
}

.btn.loading-action-result {
    @extend .text-muted;
}

.alertify-log { margin-bottom: 80px; }

.date-time-picker-container-active { margin-bottom: 280px; }

.alertify {
    &.error .alertify-button-ok { background-color: $btn-danger-bg; border-color: $alert-danger-border; }

    &.warning .alertify-button-ok { background-color: $btn-warning-bg; border-color: $alert-warning-border; }
}

// Grid sorting

.validation-summary-errors {
    @extend .alert;
    @extend .alert-danger
}

.grid {
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;

    .actions { white-space: nowrap; width: 1px; text-align: center; }

    & > tbody > tr {
        &:hover { background-color: inherit }
        &.highlighted { background: lighten($btn-success-bg, 33.5%); }
    }
}

.input-form, div.search {
    .buttons-row {
        @include make-row();

        .buttons {
            @include make-column-lg(6);
        }
    }
}

.wait-screen {
    .cover {
        display: block;
        background: $gray-darker;
        position: fixed;
        top: 0;
        left: 0;
        @include opacity(0.3);
        z-index: 10;
    }

    .wait-container { position: fixed; width: 100%; z-index: 10000; display: none; top: 45%; left: 0;

        .wait-box { background: transparent; padding: 20px; text-align: center; width: 150px; border-radius: 12pt; margin: auto; }
    }

    @include media-breakpoint-down(md){
        .wait-container { top: 33% !important; }
        .wait-box { width: 80% !important; }
    }
}

.select-grid-cols {
    div.select-cols { position: absolute; z-index: 10000; display: none; border: 1px solid #cccccc; border-radius: 4px; padding: 15px; background: #fff; }

    .cancel {
        @extend .btn;
        @extend .btn-secondary;
        @extend .btn-sm;
    }

    .apply {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;
    }
}

/* Forms */
form {
    legend, .control-label {
        @include make-column-lg(2);
        text-align: left;
        font-weight: bold;
    }

    legend { font-size: 16px; }

    .group-control {
        @include make-column-lg(4);
        max-width: 100% !important;
    }

    .password-strength .progress { margin-top: 8px; }

    .file-upload {
        & { min-height: 64px; /* TODO: Fix this to be proper responsive setup. input[type=file] { float: left; }*/ }

        .current-file {
            & { display: none; }

            a { color: $gray-dark; }
        }

        .progress {
            & { min-width: 100px; height: 17px; margin-bottom: 0; margin-top: 10px; }

            .progress-bar { width: 0; }

            input.form-control { position: relative; top: -34px; background-color: transparent; color: #fff; }
        }

        input[type=file] { display: inline-block; }

        .delete-file { float: right; position: relative; top: -45px; z-index: 2; }

        .file-target { cursor: pointer; }
    }

    .form-body {
        .form-tabs-header {
            @extend .nav;
            @extend .nav-tabs;
        }

        .tab-content { padding: 20px; }
    }

    .horizontal-subform {
        & {
            @include make-column-lg(6);
        }

        table {
            & {
                @extend .table;
                @extend .table-sm;
                @extend .table-responsive;
                margin-bottom: 0;
            }

            thead { visibility: hidden; }

            .group-control { width: 100%; }

            .form-group { margin-bottom: 0; }

            tbody > tr > td { border-top: 0; }
        }
    }

    .vertical-subform {
        .subform-item {
            margin-bottom: 2px;
            @include make-row();

            .subform-item-body {
                @include make-column-lg(6);

                & { background: #eee; border-radius: 5px; padding-top: 10px; padding-bottom: 2px; margin-bottom: 2px; }

                .form-group {
                    label {
                        @include make-column-lg(4);
                    }

                    .group-control {
                        @include make-column-lg(8);
                    }
                }
            }

            .subform-delete-wrapper {
                @include make-column-lg(3);
            }
        }
    }

    .subform-item a.delete-button i { font-size: 18pt; margin-top: 4px; }

    .input-group.unboxed .input-group-addon { border: 0; background: none; }
}

/* make search forms a compact so that they visually look more related */
.search {
    .form-group {  
        &.range-input .group-control {
            > .form-control, > .radio-list, > .checkbox-list {
                @include make-column-lg(5,12);
            }

            > .input-group {
                @include make-column-lg(5,0);
            }

            > .range-label {
                @include make-column-lg(2);
                text-align: center;
                line-height: 32px;
            }
        }
    }
}

.form-group > .group-control:not(:first-of-type):last-of-type > * {
    margin-top: $form-group-margin-bottom;

    @include media-breakpoint-up(lg) { margin-top: 0; }
}

.input-group *[data-control=collapsible-checkboxes] .textbox { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.twitter-typeahead .tt-dropdown-menu { cursor: pointer; max-height: 140px; overflow-y: auto; }

.bootstrap-datetimepicker-widget { display: block;

    .picker-switch {
        td { width: 50%;

            .today { /*@include fa-icon-flip();*/ font-family: Consolas; padding-top: 10px; min-width: 40px;

                &:before { content: "Today"; }
            }
        }
    }
}

input[type="text"].spinedit { width: 50%; display: inline-block; }

div.spinedit {
    .fa fa-var-plus fa-fw { top: -4px; }

    .fa fa-var-minus fa-fw { top: 10px; }
}

*[data-control=collapsible-checkboxes] {
    & { top: 0; padding: 0; position: relative; }

    label, a { cursor: pointer; }

    .options-container {
        & { background: #fff; border: solid 1px $gray-light; margin-top: -3px; width: 300px; z-index: 200; overflow: hidden; display: none; position: absolute; }

        .toolbox { padding: 3px; }

        .items-list { height: 130px; overflow-y: auto; padding: 3px; overflow-x: hidden; }

        input[type="checkbox"] { margin-top: 2px; margin-right: 5px; float: left;

            & + label { margin-left: 22px; display: block; margin-right: 20px; }
        }
    }

    .search-container { display: none; }

    .textbox {
        @extend .form-control;
    }

    .search-container, .caption-container { position: relative;

        .fa { position: absolute; right: 10px; margin-top: 10px; z-index: 2; }
    }

    .selection-container { height: 79px; overflow-y: auto; padding: 3px; overflow-x: hidden; border-top: 1px solid $gray-light;

        div.item {
            & { line-height: 16px; float: left; margin: 2px; position: relative; border: solid 1px $gray-dark; background-color: $gray-lighter; position: relative;

                .fa { position: absolute; left: 4px; top: 50%; margin-top: -7px; }
            }

            label { position: relative; z-index: 1; margin: 0; padding: 3px 3px 3px 20px; }

            input[type="checkbox"] { position: absolute; z-index: 0; opacity: 0; }
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
