﻿@{ var timeout = Config.Get("Authentication:Timeout", defaultValue: 20).Minutes().TotalSeconds + 10;}
@using Microsoft.AspNetCore.Hosting;
@{
    var leftMenu = ViewData["LeftMenu"].ToStringOrEmpty();
    var hasFullViewContent = ((await Request.Get<Feature>("feature"))?.HasSecondLevelMenu()).GetValueOrDefault() == false;
}

<!DOCTYPE html>
<html class="hub-service">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="@timeout">
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href="~/styles/theme.css?v=10" type='text/css' />
    <link rel='stylesheet' href="~/styles/hub/hub.css?v=10" type='text/css' />
    <link rel="icon" media="all" type="image/x-icon" href="~/img/favicon.png" />
    <script src="~/lib/requirejs/require.js" data-main="/scripts/references.js?v=3"></script>
</head>
<body>
    <div class="container-fluid p-0">
        <div class="page row m-0">
            @if (leftMenu.HasValue())
            {
                <div class="side-bar d-none d-lg-flex p-0">
                    @(await Component.InvokeAsync<ViewComponents.SideBarTopModule>())
                    @(await Component.InvokeAsync(leftMenu))
                    @(await Component.InvokeAsync<Footer>())
                </div>
            }

            <div class="content">
                @(await Component.InvokeAsync<FeaturesTopMenuWrapper>())
                <div class="content-body">
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            <div class="w-100 d-lg-none">
                                @(await Component.InvokeAsync<GlobalSearch>())
                            </div>
                            @(await Component.InvokeAsync<BreadcrumbWrapper>())
                        }
                    }
                    <service of="hub">
                        @RenderBody()
                        <div class="feature-frame-view view-body" id="iFrameHolder">
                            <iframe class='view-frame embed-responsive-item w-100 h-100' name='view-frame'></iframe>
                        </div>
                    </service>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>