﻿@{ var timeout = Config.Get("Authentication:Timeout", defaultValue: 20).Minutes().TotalSeconds + 10;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="@timeout">
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href="~/styles/theme.css" type='text/css' />
</head>
<body>
    <script src="~/lib/requirejs/require.js" data-main="/scripts/references.js?v=3"></script>
    <service of="hub">
        @RenderBody()
    </service>
</body>
</html>