﻿.gridster { position: absolute;
    li { list-style: none; border: none; background-color: #E9ECEF;  overflow: hidden;
        header { background: #42AAA9; display: block; font-size: 1.1em; text-align: center; line-height: normal; padding: 4px 0 6px; cursor: move; color: #fff;
            a { color: #fff }
        }
        iframe { width: 100%; height: 268px; border: none; }
        main { height: 268px; overflow: auto; background: #fff; }
    }
    .gs-w { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
    .preview-holder { border: none !important; border-radius: 0 !important; background: #B0BEC5 !important; }
}