﻿
.features-sub-menu {
    > ul { display: flex; flex-direction: row; align-items: center; margin-left: 7px; 
           i { color: #ffffff; }
    }
    display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; list-style-type: none;

    .feature-menu-item { margin: 0; padding: 5px 10px 0 10px; text-align: center; height: 100%;
        &.active { background-color: rgba(256,256,256,0.3) !important;
            //&:before { content: ""; }
            a { color: #ffffff !important; }
        }
    }
}

.feature-menu-item { margin: 6px 0 6px 5px; position: relative;
    &:first-child { margin-top: 0; }
    a { color: #ffffff; text-align: left; display: inline-block; width: 100%; height: auto; padding: 0 7px; }
    a .fa { color: #ffffff; width: 22px; }    
    &.active { > a { color: #03b5ae; text-decoration: underline; } }
}

.features-sub-menu {
    a:hover { color: #ffffff; }
    > ul > li> a > i { position: absolute; left: 0px; top: 5px; color: #ffffff !important; }
    > ul > li ul i { position: absolute; left: 5px; top: 11px; color: #ffffff !important; }

    //second level menu
    > ul > li > ul { display: none; position: absolute; z-index: 1; left: 0px; top: 70px; background-color: #137372; width: 100%; min-width: 170px; padding: 0;
                    li { line-height: 2.2em !important; padding: 7px 0 7px 20px !important; max-width: 100% !important;
                         &:hover { background-color: rgba(255, 255, 255, 0.3); }
                         > a { padding: 0; line-height: normal; max-width: none;
                               &:hover { text-decoration: none; color: #ffffff; } 
                         }
                     //third level menu
                     > ul { display: none; position: absolute; z-index: 1; left: 170px; top: 0px; background-color: #009688; padding: 0; min-width: 150px;}}                    
    }

    > ul li:hover > ul { display: block;
         li:hover > ul { display: block; }
    }

    > ul ul li { display: block; }

    ul li a { padding: 0; line-height: 18px; max-width: 135px; word-wrap: break-word; display: block; font-size: 0.9rem; }
}

.feature-children { text-align: center;
    .list-items .item { float: left; width: 50%; text-align: center;
        a { background: #fff; color: #111; display: block; border-radius: 2px; color: #42AAA9;
            font-size:110%;
            & { width: 98%; max-width: 450px; min-height: 167px; margin: 10px auto; padding: 12px;  }
            & { box-shadow: #111 0 2px 17px -7px; transition: box-shadow 0.08s ease-in-out;
                &:hover { text-decoration: none; box-shadow: #111 0 2px 17px -4px; }
            }
            i { color: #42AAA9; display: block; margin-bottom: 5px; }
            small { color: #333 !important; font-weight:normal; margin-top:5px; opacity:1; font-size:9pt }
        }
        &:last-of-type:nth-child(odd) { width: 100% }
        .badge-number[data-badge]:after { right: 0; font-size: 12px; width: 25px; line-height: 25px; }
    }
}

//in mobile devices child items should be in one row
@media screen and (max-width: 991px) {
    
    .feature-children {
        .list-items .item { width: 100%;
            a { min-height: 40px; }
        }
    }
}

.feature-top-menu a { text-align: center; }
