﻿.global-search {
    &, &:focus { background: transparent; border-radius: 0; border: none; background: #4A4A4A; color: #959595; }
}

.typeahead__list { 
    box-shadow: #000 0 0 10px -3px; padding: 0;
    @include media-breakpoint-up(lg) {
        &{
            min-width : 600px;
        }
    }
    a { padding: 5px; margin-right: 2px;
        &::after { content: ""; clear: both; display: block; }
    }
    .item { clear: both;

        .icon { float: right; max-width: 60px; max-height: 40px; border-radius: 5px; margin-left: 5px; }
        .title-wrapper { float: left;
            .title { font-size: 12pt; }
            .desc { color:#aaa; font-size: 10pt; clear: both; font-style:italic }
        }
        
        contact { color: #4AB8B8; }
        user { color: #43a1df; }
        project { color: #e58; }
        candidate { color: #999; }
        employee { color: #30b573; }
        lead { color: #00a2df; }
        test { color: #c38efc; }
        account { color: #168b89; }
        know { color: #eb982c; }
        span.clarify { color: #999; }
        casestudy { color: #9F5FDF; }
    }
    @include media-breakpoint-up(lg) {
        > li{
            min-width : 600px;
        }
    }
}


